@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3em;
  font-family: 'Black Ops One', sans-serif;
  filter: drop-shadow(0 0 0.75rem rgb(255, 231, 14));
}

body {
  min-height: 1200px;
  font-family: 'Anonymous Pro', monospace;
  background-color: #131104;
  background-image: url('/img/background3.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2em; */
}

.footer-wrapper {
  width: 100%;
  padding: 1em 0;
  background: #000000fa;
  margin-top: 7em;
}

footer {
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1.5em;
  text-align: center;
}

footer > p > span {
  color: #ecd448;
  font-size: 1.3em;
  font-family: 'Dancing Script', 'Anonymous Pro', monospace;
}

footer > p + p {
  margin-top: 1.5em;
  font-style: italic;
  font-size: 0.7em;
}

.container {
  margin: 1em 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  /* background-color: #0e0a02e3; */
  height: 100%;
  padding: 0 4em;
}

.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin-bottom: 2em;
  color: #fff;
  margin: 0 auto 2em;
  background-color: #000000bb;
  padding: 1.5em 1em;
  border: 2px solid #7e7c0b;
  border-radius: 10px;
}

.game-intro > p {
  /* max-width: 700px; */
  margin-top: 1em;
  line-height: 1.1;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5;
}

.bullet-number {
  font-weight: bold;
  text-decoration: underline;
  color: #f3f168;
}

.wrapper {
  /* position: relative; */
  height: 500px;

  margin-bottom: 2em;
}

canvas {
  background: url('/img/game-background2.jpg') no-repeat center center/cover;
  box-shadow: 0px 0px 15px 2px rgba(250, 245, 151, 0.548);
  border: 1px groove #eee9d0;
  border-radius: 5px;
}

#startGame,
#newGame {
  margin: 1em auto 0;
  padding: 0.25em 2em;
  background-color: #d3a831;
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5em;
  filter: drop-shadow(0 0 6px #ecd448);
}

#newGame {
  display: none;
}
/* div that appears after Game Over */

.game-over-screen {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  color: #fff;
  font-size: 3em;
}
